
.icon-btc{
    display: flex;
}
.nav-side-dashboard{
    background-color: rgb(111, 26, 172);
    display: inline-block;
    width: 20%;
    height: 100vh;
    direction: rtl;
}
.new-one-button{
 
    border: none;
    box-shadow: none !important;
    margin: 0px 10px;
    background-color: rgba(111, 26, 172, 0.72);
    height: 36px;
    border-radius: 18px;
    padding: 0px 15px;
    color: aliceblue;
 }
.new-one-button:hover{
    box-shadow:0px 22px 7px rgba(76,10,86,0.47);
    background-color:#330b4f;
}
.bodytable{
    background-color: rgba(235, 235, 243, 0.882);
    height: 100vh;
    width: 100vw;
    overflow: auto;
}
Nav{
    direction: rtl;
}
#N{
    padding: 13px 38px;
    color: aliceblue;
}
#N:hover{
    background-color:rgb(127, 30, 196);
}
.dashboard_nav-container{
    display: flex;
    flex-flow: row-reverse;
}

.list-inline{
    margin: 30px;
    border-radius: 9px;
    padding: 3px;
    background-color:rgb(187, 142, 232) ;
    display: inline-block;
    box-shadow: 1px 3px 23px 5px rgba(141,141,141,0.4);
}
li{
    margin: 10px;
    color:#50127d;
}
li:hover{
    color:#16127d;
    text-shadow: 1px 1px #6f6af3;
}
a{
    color: #fff !important;
    cursor: pointer;
    font-size: medium;
    text-decoration: none !important;
}

#picture{
    width: 12% !important;
}
.search-input-collapse-dashboard::placeholder {
    color: rgb(80, 18, 125);
    text-shadow:1px 3px 23px 5px rgb(249, 247, 250);
    
  }
  

.admin-tab,.member-tab:hover:active{
    font-weight: bold;
}

.nav-link:hover {
    background-color: rgb(80, 18, 125) !important;   
}
.navbar-dashboard{
    width:100%;
    display:flex;
    flex-direction: row;
}
.fa-trash,.fa-pencil{
    width: 100px;
    height: 200px;
    background-color: #50127d;
}
.icon-pencil,.icon-trash{
    color: #50127d86;
    font-size: 20px !important;
    margin-right:20px !important;
    cursor: pointer;
}
.table{
    margin: 0 0 0 7px;
}
.icon-search{
    font-size: 15px !important;
}
p{
    font-size: 20px;
}
.total-bar-dashboard{
   flex: auto;
}

.admin-member-dashboard
{
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    box-shadow: none;
    margin: 0px 10px;
}
.title_dashboard{
    align-items: center;
    display: fix;
    flex-direction: row-reverse;
    box-shadow: none;
    margin: 0px 10px;
}
.collapse{
    height: 50px;
}
.submitbutton {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .search-input-collapse-dashboard {
    justify-content: left;
    width: 100%;
    text-align: right;
    height: 36px !important;
    border-color: rgba(82, 78, 78, 0.151);
    margin-top: 5px;
    color: #ffff;
    background-color: #cc9df69c !important;
    border-radius: 18px !important;
  }
.icon-user, .icon-group,.icon-cogs,.icon-laptop,.icon-tasks,.icon-random,.icon-quote-right,.icon-file-alt{
    font-size: large;
    margin-left: 10px;
}
.gitlogin{
    background:#50127d86;
    color:white;
    font-size:11px;
    font-weight:bold;
    width:74px;
    height: 30px;
    padding:3px 0px;
    border-radius:18px;
    text-shadow:none;
}
.nav-header-dashboard{
    width: 100%;
    height:25%;
    background-color: rgb(80, 18, 125);
    display: flex;
  }.logo{
    content: url("/src/assets/1.png");
    width: 50px;
    cursor: none;
}.logo:not(:hover){
    cursor: none;
}
.bell{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
}
.collapse-search-button{
    border-radius: 50%;
    justify-content: left;
    width: 15%;
    text-align: right;
    height: 36px !important;
    border-color: rgba(82, 78, 78, 0.151);
    margin-top: 5px;
    background-color: #cc9df69c !important;
    border-radius: 18px !important;
    align-self: start;
}
.collapse-search-button:hover{
    background-color: #330b4f;

}

.dashboard-icon{
    display: flex;
    align-items: center;
}
i,h6{
    color: aliceblue;
    font-size: 25px;
}

.active {
    color: rgb(60, 3, 95);
    font-size: large;
    text-shadow: 3px 5px 9px #330b4f;
}
@media screen and (min-width: 400px) {
    body {
      
    }
  }
  
  @media screen and (min-width: 800px) {
    body {
     
    }
  }